.phone{
    margin-top: -150px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;

}

.venimos{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center
}

.salto::after{
    content: none;
    white-space: none;
}

.titulosphone{
    font-size: 48px;
 
}

.phone-cont{
    width: 407.6px;
    height: 650px;
}

.entrevistastitulo{
    font-size: 48px;
    margin-left: 160px
      
}

.phonet{
    width: 45%;
    margin-left: 50px;
}


/* invitados */


.titulostemas{
    font-size: 48px;
}

.inv{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5vh;
    -webkit-grid-template-columns: repeat(3, 1fr);
    -o-grid-template-columns: repeat(3, 1fr);
    -ms-grid-template-columns: repeat(3, 1fr);
    -webkit-grid-template-rows: 5vh;
    -o-grid-template-rows: 5vh;
    -ms-grid-template-rows: 5vh;
    margin: 10px 0 60px 0;
}

.uno{
    width: 100%;
    grid-column: 1;
    grid-row: 2;
}

.uno2{
    width: 100%;
    grid-column: 2;
    grid-row: 2;

}

.uno3{
    width: 100%;
    grid-column: 3;
    grid-row: 2;
}

.uno4{
    width: 100%;
    grid-column: 1;
    grid-row: 3;
}

.uno5{
    width: 100%;
    grid-column: 2;
    grid-row: 3;
}

.uno6{
    width: 100%;
    grid-column: 3;
    grid-row: 3;
}

@media only screen and (max-width: 768px) {

    .phone{
        margin: -70px 0 50px 0;        
    }
    
    .venimos{
        width: 100%;
        flex-direction: column; 
    }


    .salto::after{
    content: '\A';
    white-space: pre;
        
    }

    .titulosphone{
        padding: 0;
        font-size: 36px;
    
    }
        
        .phone-cont{
        width: 340px;
        height: 519px;
        margin-bottom: 30px;
    }

    .entrevistastitulo{
        padding: 0 0 20px 20px;
        margin:0;
        font-size: 36px;
    }

    .phonet{
        width: 90%;
        margin: 0;

    }

    /* invitados */
    .titulostemas{
        padding: 0 0 20px 20px;
        font-size: 36px;
        }
        
    .inv{

        display: flex;
        flex-wrap: wrap;

        }
        


    }