.footer{
    text-align: center;  
    background-color:white;
    text-align: center;
    width: 100%;
}

.footer-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.footer a{
    color: black;
}

.footer a:hover{
 color: teal;
}


@media only screen and (min-width: 768px) {


.footer{
    background-color:white;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-icon{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 20%;
    padding: 0 20px;
}

.footer a{
    color: black;
}

.footer a:hover{
 color: teal;
}
}
