/*Estilos Movil */

.temas{
    display: flex;
    flex-direction: column;   
    width: 100%;

}

.titulostemas{
    font-size: 36px;

}

.salto::after{
    content: '\A';
    white-space: pre;
    
}

.titulos{
    font-size: 36px;
    margin-left: 25px;

}

.texto{
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 0 0 40px 0;
    line-height: 30px;
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-top: 40px;

}


@media only screen and (min-width: 768px) {


/* temas */
.titulostemas{
    font-size: 48px;
    margin-left: 160px;

}

.salto::after{
    content: none;
    white-space: normal;
    
}

.titulos{
    font-size: 48px;
    margin-left: 160px;
}

.texto{
    margin-top: 0;
}


.icon{
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    grid-row: auto;
    grid-gap: 40px;
    padding: 20px 0;
}

.icon1{
    grid-column: 1;
    grid-row: 1;

}

.icon2{
    grid-column: 2;
    grid-row: 1;
   
  
}

.icon3{
    grid-column: 3;
    grid-row: 1;

   
}

.icon4{
    grid-column: 4;
    grid-row: 1;
   
   
}



}
